<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Préstamo de Taquillas</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="main-container">
        <h1>Bienvenido al Sistema de Préstamo de Taquillas</h1>

        <!-- Menú -->
        <nav class="nav-menu">
            <a href="/login" class="nav-link">Login</a>
            <a href="/registro" class="nav-link">Registro</a>
        </nav>

        <hr>
        {% if session['username'] %}
            <p class="user-info">Conectado como {{ username }} <a href="/logout" class="logout-link">Logout</a></p>
            <hr> 
        {% endif %}

        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
