{% extends "index.html" %}

{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<div class="login-container">
    <h2>Login</h2>
    <form action="{{ url_for('login') }}" method="POST">
        <label for="nombre">Usuario:</label>
        <input type="text" name="nombre" required>

        <label for="contraseña">Contraseña:</label>
        <input type="password" name="contraseña" required>

        <button type="submit">Iniciar sesión</button>
    </form>
    {% if mensaje %}
    <div class="mensaje-error">
        {{ mensaje }}
    </div>
    {% endif %}
</div>
{% endblock %}
