{% extends "index.html" %}

{% block content %}
<h2>Registro de Usuario</h2>

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    <ul>
        {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
{% endwith %}
<form action="/registro" method="post">
    <div>
        <label for="username">Usuario:</label>
        <input type="text" id="username" name="username" required>
    </div>
    <div>
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" required>
    </div>     
    <div>
        <label for="contraseña">Contraseña:</label>
        <input type="password" id="contraseña" name="contraseña" required>
    </div>
    <div>
        <button type="submit">Registrar</button>
    </div>
    {% if mensaje %}
    <div>
        {{ mensaje }}
    </div>
    {% endif %}
</form>
{% endblock %}